header{
  background-color: #9ea2ff ;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  color: #fffdd1;
  font-family: 'Philosopher', sans-serif;
}

header h1{
  padding-left: 25px;
  text-align: left;
}

nav{
  float:right;
  text-align: center;
  padding-right: 15px;
}

nav li{
 display:inline-block; 
  padding-left:8px;
  padding-right:5px;
  font-size: 21px;;
  padding-top: 15px;
  cursor: pointer;
}

li:hover{
  text-decoration: underline;
}

li:active{
  color:#ff9ea2
}

body{
  margin: 0;
}
main{
  mar
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}



.Philo-font h3,p{
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.container{
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}
.description{
  width: 50%;
}

section{
  width: 100%;
}
section:nth-child(even){
  background-color: #ededed;
  width: 100%;
}

.tab-color{
  height: 450px;
}

/*CSS for Color Section */
.color-header{
  background-color: #9ea2ff;
}
.color-section{
  background-color: #ededed;
}
.color-buttons{
  background-color: #9efffb;
}
.color-footer{
  background-color: #cb9eff;
}

/*TODO: Use #9efffb for button selection*/
footer{
  background-color: #cb9eff;
}

/*Temporary, delete after building tables*/
table,td,tr,th{
  border: 2px solid black;
  border-collapse: collapse;
}