header{
  background-color: #9ea2ff ;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  color: #fffdd1;
}

header h1{
  padding-left: 25px;
  text-align: left;
}

/*TODO: Use Philosopher for heading and Libre for content */
nav{
  float:right;
  text-align: center;
  padding-right: 15px;
}

nav li{
 display:inline-block; 
  padding-left:8px;
  padding-right:5px;
  font-size: 21px;;
  padding-top: 15px;
  cursor: pointer;
}

li:hover{
  text-decoration: underline;
}

li:active{
  color:#ff9ea2
}
main{
  margin-top: 100px;
}
table{
  margin:auto;
}
.color_sec{
}
/*TODO: Use #ededed for section background section*/

/*TODO: Use #9efffb for button selection*/
footer{
  background-color: #cb9eff;
}

/*Temporary, delete after bulding tables*/
table,td,tr,th{
  border: 2px solid black;
  border-collapse: collapse;
}