html{
  scroll-behavior: smooth;
}
header{
  background-color: #9ea2ff ;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  color: #fffdd1;
  font-family: 'Philosopher', sans-serif;
}

header h1{
  padding-left: 25px;
  text-align: left;
}

nav{
  float:right;
  text-align: center;
  padding-right: 15px;
}

nav li{
 display:inline-block; 
  padding-left:8px;
  padding-right:5px;
  font-size: 21px;
  padding-top: 15px;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}
a{
  color: #fffdd1;
}

a:active{
  color:#ff9ea2;
}



body{
  margin: 0;
}
main{
  padding-top: 40px;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

main section{
  padding: 80px 0;
}


.Philo-font h3,p{
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.container{
  width: 900px;
  margin: 0 auto;
}
.description{
  width: 50%;
}

section{
  width: 100%;
}
section:nth-child(even){
  background-color: #ededed;
  width: 100%;
}

.tab-color{
  height: 450px;
}

li{
  text-align:initial;
}



/*CSS for Color Section */
.color-header{
  background-color: #9ea2ff;
}
.color-section{
  background-color: #ededed;
}
.color-buttons{
  background-color: #1afff6;
}
.color-footer{
  background-color: #cb9eff;
}

.text-main{
  background-color: #9ea2ff;
  font-family: 'Philosopher', sans-serif;
  color: #fffdd1;
}

.text-anchor{
  background-color: #9ea2ff;
  font-family: 'Philosopher', sans-serif;
  color: #fffdd1;
  text-decoration: underline;
  cursor: pointer;
  font-size: 21px;
  padding: 0 5px;
}

section ul li{
  line-height: 25px;
}

.text-anchor:active{
  color:#ff9ea2;
}

button{
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
}
#btn-standard{
  background-color: #1afff6;
}
#btn-standard:hover{
  background-color: #89fffa;
}
#btn-Skeu{
  border: 2px solid #12b9b5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(#1afff6, #00dcd3);
  text-shadow: 0 -1.5px #12b9b5;
}

#btn-Skeu:hover{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #00dcd3;
  background: linear-gradient(#00dcd3, #12b9b5);
  border-color: #008d87;
}
footer{
  background-color: #cb9eff;
  color: #fffc9e;
}

footer p{
  margin: 0;
  padding: 20px 10px 20px 0;
  text-align: right;
  
}